<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomDelegatePattern.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BEA82DFE1EE1592300CDBB65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEA82E151EE1592400CDBB65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEA82E201EE1592400CDBB65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
